* { margin: 0; padding: 0; box-sizing: border-box;}
body { display: flex; justify-content: center;align-items: center; height: 100vh; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#cercle { display: flex; justify-content: center;align-items: center; width: 200px; height: 200px; background-color: steelblue; color: #fff; font-size: 40px; border-radius: 100px; cursor: pointer; transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;}
.hover { transform: scale(2)}