* { box-sizing: border-box;}
body { background-color :#ffac81;
    background-image : linear-gradient(315deg, #ffac81 0%, #ff928b 74%); height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
div {margin-top: 25px;}
button { border: none; padding: 10px 20px; border-radius: 20px; background-color: #fff; text-transform: uppercase; color: #ff928b; font-weight: 700; margin: 0 10px;}
button:hover { background-color: #EC4E20; color: #fff;}